@page "/edit-cars/{Id}"
@layout MainLayout
@inherits SimpleCarManagment.Pages.EditCarsComponent

@using Radzen
@using Radzen.Blazor
@using SimpleCarManagment.Models.SimpleCarManagmentDb
@using Microsoft.AspNetCore.Identity;
@using SimpleCarManagment.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<PageTitle>Edit Cars</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="SimpleCarManagment.Models.SimpleCarManagmentDb.Car" Data="@car" Visible="@(car != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Custom Name" Component="CustomName" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@(car.CustomName)" Name="CustomName">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="CustomName" Text="CustomName is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Name" Component="Name" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@(car.Name)" Name="Name">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Name" Text="Name is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Image" Component="Image" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@(car.Image)" Name="Image">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Image" Text="Image is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Production" Component="Production" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker style="display: block; width: 100%" @bind-Value="@(car.Production)" Name="Production">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="Production" Text="Production is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Vin" Component="Vin" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@(car.Vin)" Name="Vin">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Vin" Text="Vin is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Mileage" Component="Mileage" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(car.Mileage)" Name="Mileage">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="Mileage" Text="Mileage is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="User Id" Component="UserId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="width: 100%" @bind-Value="@(car.UserId)" Name="UserId">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
